<h1 class="py-6 flex m-5 text-3xl font-bold text-yellow-500">Kategoriyani tanlang</h1>
<div class="flex m-5 space-x-12 text-1xl font-bold">
  <!-- Uzbek tilida -->
  <button routerLink="gumbazlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    GUMBAZLAR
  </button>
  <button routerLink="dimaxodlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    DIMAXODLAR
  </button>
  <button routerLink="vintilatsiya" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    VINTILATSIYA
  </button>
  <button routerLink="profnastillar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    PROFNASTIL
  </button>
  <button routerLink="aksesuarlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    AKSESUARLAR
  </button>
  <button routerLink="turubalar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    TURBALAR
  </button>
</div>

<!-- Rus tilida -->
<h1 class="py-6 flex m-5 text-3xl font-bold text-yellow-500">Выберите категорию</h1>
<div class="flex m-5 space-x-12 text-1xl font-bold">
  <button routerLink="gumbazlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    КУПОЛЫ
  </button>
  <button routerLink="dimaxodlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    ДЫМОХОДЫ
  </button>
  <button routerLink="vintilatsiya" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    ВЕНТИЛЯЦИЯ
  </button>
  <button routerLink="profnastillar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    ПРОФНАСТИЛ
  </button>
  <button routerLink="aksesuarlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    АКСЕССУАРЫ
  </button>
  <button routerLink="turubalar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    ТРУБЫ
  </button>
</div>

<!-- Ingliz tilida -->
<h1 class="py-6 flex m-5 text-3xl font-bold text-yellow-500">Select a Category</h1>
<div class="flex m-5 space-x-12 text-1xl font-bold">
  <button routerLink="gumbazlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    DOMES
  </button>
  <button routerLink="dimaxodlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    CHIMNEYS
  </button>
  <button routerLink="vintilatsiya" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    VENTILATION
  </button>
  <button routerLink="profnastillar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    PROFNASTIL
  </button>
  <button routerLink="aksesuarlar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    ACCESSORIES
  </button>
  <button routerLink="turubalar" class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full hover:bg-yellow-400 transition transform hover:scale-105">
    PIPES
  </button>
</div>
