<div class="min-h-screen flex items-center justify-center bg-opacity-0  py-20">
  <form class="shadow-2xl rounded-2xl p-5 bg-white w-full max-w-md" [formGroup]="form">
    <div class=" text-center">
      <h1 class="font-bold text-5xl mb-4 text-gray-800">
        Register
      </h1>
      <h6 class="text-gray-600 text-2xl mt-2">
        Create your account
      </h6>
    </div>

    <mat-form-field appearance="fill" class="w-full ">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="Name" class="rounded-xl" />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full ">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email Address" formControlName="EmailAddress" class="rounded-xl" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full ">
      <mat-label>Password</mat-label>
      <input matInput type="{{ hide ? 'password' : 'text'}}" formControlName="PasswordHash" placeholder="Password" class="rounded-xl" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hide = !hide" matSuffix class="cursor-pointer">
        {{ hide ? 'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full ">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="991234567" formControlName="PhoneNumber" class="rounded-xl" />
      <mat-icon matPrefix>phone</mat-icon>
    </mat-form-field>

    <button (click)="register()" type="submit" [disabled]="!form.valid"
            class="w-full py-4 text-white text-xl font-semibold rounded-xl bg-purple-600 hover:bg-purple-700 transition duration-200 disabled:bg-purple-400 disabled:cursor-not-allowed">
      Register
    </button>

    <div class="text-center mt-2">
      <span class="text-gray-600 text-lg">
        Already have an account?
      </span>
      <a class="text-purple-700 font-semibold text-lg" [routerLink]="['/login']">Login</a>
    </div>
  </form>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
